<ion-view cache-view="false" view-title="Document Management">
	<ion-content>
	<div class="row">
		<div class="col col-80 center">
			<h1 class="main-header" style="margin-top: 4vh;">Document List</h1>
			<hr class="main-hr">
			<div show-when="large" class="row padding-0">
				<div class="col col-20 padding-0">
					
				</div>
				<div class="col col-30 col-offset-50">

					<label class="item item-input">
						<i class="icon ion-search placeholder-icon"></i>
						<input type="text" placeholder="Search">
					</label>
				
				</div>
			</div>

			<ui class="list">
			<div class="item item-divider item-divider-calm">
				<div class="row">
					<div show-when="large" class="col col-20 vertical-center-list-text">Title</div>
					<div show-when="small" class="col col-85 vertical-center-list-text">Title</div>
					<div show-when="large" class="col col-20 center-header vertical-center-list-text">Creator</div>
					<div show-when="large" class="col col-20 center-header vertical-center-list-text">Status</div>
					<div show-when="large" class="col col-20 center-header vertical-center-list-text">Last Update</div>
					<div show-when="large" class="col col-10 center-header vertical-center-list-text word-wrap">History of Documents</div>
					<div show-when="large" class="col col-10 center-header vertical-center-list-text">Action</div>
				
				</div>
			</div>
				<li class="item" ng-repeat="document in documents" 
				ng-if="document.lastDocData.documentStatus !== 'Draft' ">
					<div class="row">

					
					
						<a show-when="large" class="col col-20 vertical-center-list-text doclist-link" href="#/app/doc/{{document.id}}/{{document.lastDocId}}/review" ng-if="document.lastDocData.documentStatus === 'Waiting for Approval'">{{document.folderName}}</a>
						<a show-when="large" class="col col-20 vertical-center-list-text doclist-link" href="#/app/doc/{{document.id}}/{{document.lastDocId}}" ng-if="document.lastDocData.documentStatus === 'Approved' || folder.lastDocData.documentStatus === 'Publish'">{{document.folderName}}</a>
						<div show-when="large" class="col col-20 vertical-center-list-text doclist-link" ng-if="document.lastDocData.documentStatus === 'Reject'">{{document.folderName}}</div>


						<div show-when="large" class="col col-20 center-header vertical-center-list-text word-wrap">{{document.creatorName}}</div>
						
						
						<!-- For Waiting for approval -->
						<div show-when="large" class="col col-20 center-header vertical-center-list-text waiting-for-approval-status word-wrap" ng-if="document.lastDocData.documentStatus === 'Waiting for Approval'">{{document.lastDocData.documentStatus}}</div>
						<!-- For Reject -->
						<div show-when="large" class="col col-20 center-header vertical-center-list-text reject-status word-wrap" ng-if="document.lastDocData.documentStatus === 'Reject'">{{document.lastDocData.documentStatus}}</div>
						<!-- For Approved -->
						<div show-when="large" class="col col-20 center-header vertical-center-list-text approved-status word-wrap" ng-if="document.lastDocData.documentStatus === 'Approved'">{{document.lastDocData.documentStatus}}</div>
						<!-- For Publish -->
						<div show-when="large" class="col col-20 center-header vertical-center-list-text publish-status word-wrap" ng-if="document.lastDocData.documentStatus === 'Publish'">{{document.lastDocData.documentStatus}}</div>
						
						
						<div show-when="large" class="col col-20 center-header vertical-center-list-text word-wrap">{{document.lastUpdate}}</div>
						<div show-when="large" class="col col-10 center-header vertical-center-list-text">{{document.numberOfDocuments}}</div>
						<div show-when="large" class="col col-10 center-header">
							<a class="button button-energized button-circle icon ion-compose" href="#/app/doc/{{document.id}}/{{document.lastDocId}}/review" title="Review" ng-if="document.lastDocData.documentStatus === 'Waiting for Approval'"></a>
						</div>
					

					
						<a show-when="small" class="col col-85 vertical-center-list-text doclist-link" href="#/app/doc/{{document.id}}/{{document.lastDocId}}/review">{{document.folderName}}</a>
						<a show-when="small" class="button button-energized" href="#/app/doc/{{document.id}}/{{document.lastDocId}}/review" style="margin-right:10px;" ng-if="document.lastDocData.documentStatus === 'Waiting for Approval'">Review</a>
					
					
					
					
					
				</div>
				</li>
				<li class="item" ng-show="showNoConnection()">
					<div style="text-align: center;color: #999;padding: 50px;">
						We're sorry. The services are not available.
					</div>
				</li>
		</ui>
		</div>
	</div>
	</ion-content>
</ion-view>
