ใ<ion-view cache-view="false" view-title="Review Document">
	<ion-content>
	<div class="overlay" ng-show="showUploadedFileList()">
		<div class="file-detail-wrapper">
			<div class="file-detail-content">
				<div class="header"><h3>{{numberOfFiles}} Uploaded File</h3>
					<button class="button button-stable button-clear icon ion-close close-button" ng-click="closeUploadedFiles()"></button>
				</div>
				<div class="file-list">
					<ul class="list">
					    <li class="item" ng-repeat="file in files">
					      <div class="row padding-0">
					      <div class="delete-btn"><button ng-click="download(file.id)" target="_self" class="button button-calm button-clear icon ion-ios-cloud-download-outline button-circle"></button></div>
					      <div class="delete-btn"><button class="button button-clear button-assertive icon ion-trash-a" ng-click="deleteFileById(file.id)"></button></div>
					      <div class="filename">{{file.filename}}<div>
					      </div>
					    </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-80 center">
			<h1 class="main-header" style="margin-top: 4vh;">Review: {{doc.documentName}}</h1>

			<a href="#/app/doclistforboss" class="path-link">Document List</a>
			<span> / </span>
			<a href="#/app/doc/{{folder.id}}/history" class="path-link"> History </a>
			<span> / {{doc.documentName}}</span>

			<select onchange="location = this.options[this.selectedIndex].value;">
				

				<option selected="version.docId === doc.documentId" ng-repeat="version in versions track by $index" value="#/app/doc/{{folder.id}}/{{version.docId}}">Version {{version.version}}</option>
			</select>

			<hr class="main-hr">



			<div class="row">
				<div class="col col-75 center">
					<div class="list">
					  <label class="item item-input item-stacked-label">
					    <div class="row padding-0">
					    	<span class="input-label">Name</span> 
					    </div>
					    <div class="row padding-0" style=" margin-top: 20px; margin-bottom: 20px;">
					    	<h2><span style=" margin-top: 10px; margin-right: 10px;"> {{doc.documentName}} </span></h2>
						</div>
					  </label>
					  <label class="item item-input item-stacked-label">
					    <div class="row padding-0">
					    	<span class="input-label">Uploaded File</span> 
					    </div>
					    <div class="row row-center padding-0" style="margin-top: 10px;" ng-show="showNone()">
						    <span style="margin-top: 5px; margin-bottom: 5px;">None</button>
						</div>
						<div ng-show="haveFiles()">
						    <button class="button button-clear button-calm" ng-click="showUploadedFiles()">{{numberOfFiles}} Uploaded File (Click to see detail)</button>
						</div>
					  </label>

					  <label class="item item-input item-stacked-label">
					    <div class="row padding-0">
					    	<span class="input-label">Description</span> 
					    </div>
					    <div class="row padding-0" style=" margin-top: 20px; margin-bottom: 20px;">
					    	<h2><span style=" margin-top: 10px; margin-right: 10px;">{{doc.description}}</span></h2>
						</div>
					  </label>
					  <label class="item item-input item-stacked-label" style="background: #F7FC7C;">
					    <span class="input-label">Comment</span>
					    
					    <textarea rows="10" placeholder="Decline? Please provide your opinion about this document for further improvement." style="background: #F7FC7C;" ng-model="$parent.reviewtext"></textarea>

					  </label>
					  <div show-when="small">
						  <label class="item item-input item-stacked-label">
						    <span class="input-label">Creator</span>
						    <input type="text" value="{{creator.lastname}} {{creator.firstname}}" disabled>
						  </label>
						  <label class="item item-input item-stacked-label">
						    <span class="input-label">Approver</span>
						    <input type="text" value="{{approver.lastname}} {{approver.firstname}}" disabled>
						  </label>
						  <label class="item item-input item-stacked-label">
						    <span class="input-label">Created Date</span>
						    <input type="text" value="{{doc.createdDate}}" disabled>
						  </label>
						  <label class="item item-input item-stacked-label">
						    <span class="input-label">Last Modified Date</span>
						    <input type="text" value="{{doc.lastModifiedDate}}" disabled>
						  </label>
					  </div>
					  <label class="item item-input item-stacked-label" show-when="large">
					    <div class="row">
					    	<div class="col">
					    		<span class="input-label">Creator</span>
					    	</div>
					    	<div class="col">
					    		<span class="input-label">Approver</span>
					    	</div>
					    	<div class="col">
					    		<span class="input-label">Created Date</span>
					    	</div>
					    	<div class="col">
					    		<span class="input-label">Last Modified Date</span>
					    	</div>
					    
					    </div>

					    <div class="row">
					    	<div class="col">
					    		<input type="text" class="word-wrap" value="{{creator.lastname}} {{creator.firstname}}" disabled>
					    	</div>
					    	<div class="col">
					    		<input type="text" class="word-wrap" value="{{approver.lastname}} {{approver.firstname}}" disabled>
					    	</div>
					    	<div class="col">
					    		<input type="text" class="word-wrap" value="{{doc.createdDate}}" disabled>
					    	</div>
					    	<div class="col">
					    		<input type="text" class="word-wrap" value="{{doc.lastModifiedDate}}" disabled>
					    	</div>
					    </div>
					  </label>
					</div>
					<div class="row" show-when="large">
						
						<div class="col col-50">
							<button class="button button-full button-balanced" ng-click="approve()">
							  Approve
							</button>
						</div>
						<div class="col col-50">
							<button class="button button-full button-assertive" ng-click="reject()" ng-disabled="!reviewtext">
							  Decline
							</button>
						</div>
					</div>
					<div class="row" show-when="small">
			
							
		
							<button class="button button-full button-balanced" ng-click="approve()">
								Approve
							</button>
		
				
							<button class="button button-full button-assertive" ng-click="reject()" ng-disabled="!reviewtext">
								Decline
							</button>
			
					</div>
					
				</div>
			</div>
		</div>
	</div>
	</ion-content>
</ion-view>
