<ion-view cache-view="false" view-title="Dashboard">
	<ion-content>
	<div class="row">
		<div class="col col-80 center">
			<div class="row">
				<div class="card col col-60">
				  <div class="item item-text-wrap">
				    <div class="item item-avatar">
					   <img src="avatar.jpg">
					   <h2>Lastname Firstname</h2>
					   <p>email</p>
					 </div>
				  </div>
				</div>
				<div class="card col col-40">
				  <div class="item item-text-wrap">
				    Recently Update
				    <hr>
				    <div>
				    	<ul class="list">
						    <a class="item">
						      (Draft) Document a
						    </a>
						    <a class="item">
						      (Reject) Document z
						    </a>
						    <a class="item">
						      (Approve) Document z
						    </a>
						</ul>
				    </div>
				  </div>
				</div>
			</div>
			<div class="row">
				<div class="card col col-50">
					<div class="item item-text-wrap">
				    Graph something...
				  	</div>
				</div>
				<div class="card col-50">
					<div class="item item-text-wrap">
				    	<div class="list">
						  <div class="item item-icon-left" href="#">
						    <i class="icon ion-android-drafts"></i>
						    Draft
						    <span class="badge badge-energized">0</span>
						  </div>
						  <div class="item item-icon-left" href="#">
						    <i class="icon ion-person-stalker"></i>
						    Waiting for Approval
						    <span class="badge badge-positive">0</span>
						  </div>
						  <div class="item item-icon-left" href="#">
						    <i class="icon ion-close-round"></i>
						    Reject
						    <span class="badge badge-assertive">0</span>
						  </div>
						  <div class="item item-icon-left" href="#">
						    <i class="icon ion-checkmark-round"></i>
						    Approve
						    <span class="badge badge-balanced">0</span>
						  </div>
						  <div class="item item-icon-left" href="#">
						    <i class="icon ion-ios-cloud-upload"></i>
						    Publish
						    <span class="badge badge-stable">0</span>
						  </div>
						</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>
	</ion-content>
</ion-view>
