<ion-view cache-view="false" view-title="Document Detail">
	<ion-content>
	<div class="row">
		<div class="col col-80 center">
			<h1 class="main-header" style="margin-top: 4vh;">{{doc.documentName}} Detail</h1>
			<a href="#/app/doc" class="path-link">Document List</a>
			<span> / </span>
			<a href="#/app/doc/{{folder.id}}/history" class="path-link"> History </a>
			<span> / {{doc.documentName}}</span>

			
			<!-- For draft -->
			<span class="draft-status" ng-if="doc.documentStatus === 'Draft'">({{doc.documentStatus}})</span>
			<!-- For Waiting for approval -->
			<span class="waiting-for-approval-status" ng-if="doc.documentStatus === 'Waiting for Approval'">({{doc.documentStatus}})</span>
			<!-- For Reject -->
			<span class="reject-status" ng-if="doc.documentStatus === 'Reject'">({{doc.documentStatus}})</span>
			<!-- For Approved -->
			<span class="approved-status" ng-if="doc.documentStatus === 'Approved'">({{doc.documentStatus}})</span>
			<!-- For Publish -->
			<span class="publish-status" ng-if="doc.documentStatus === 'Publish'">({{doc.documentStatus}})</span>

			<select onchange="location = this.options[this.selectedIndex].value;">
				

				<option ng-selected="version.docId === doc.documentId" ng-repeat="version in versions track by $index" value="#/app/doc/{{folder.id}}/{{version.docId}}">Version {{version.version}}</option>
			</select>

			<hr class="main-hr">
			<div class="row">
				<div class="col col-75 center">
					<div class="list">
					  <label class="item item-input item-stacked-label">
					    <span class="input-label">Document Name</span>
					    <input type="text" value="{{doc.documentName}}" disabled>
					  </label>
					  <label class="item item-input item-stacked-label">
					    <div class="row padding-0">
					    	<span class="input-label">Uploaded File</span> 
					    </div>
					    <div class="row padding-0" style=" margin-top: 20px; margin-bottom: 20px;">
					    	<span style=" margin-top: 10px; margin-right: 10px;"> {{filename}} </span>
					    	<button ng-click="download()" target="_self" href="http://localhost:8084/downloaddocumentId={{doc.documentId}}" class="button button-calm icon ion-ios-cloud-download-outline button-circle" style="padding: 0 12px;"></button>
						</div>
					  </label>

					  <label class="item item-input item-stacked-label">
					    <span class="input-label">Description</span>
					    
					    <textarea rows="10" disabled>{{doc.description}}</textarea>

					  </label>
					  <label class="item item-input item-stacked-label">
					    <span class="input-label">Comment</span>
					    
					    <textarea rows="10" disabled>{{review.reviewDesc}}</textarea>

					  </label>
					  <div show-when="small">
						  <label class="item item-input item-stacked-label">
						    <span class="input-label">Creator</span>
						    <input type="text" class="word-wrap" value="{{creator.lastname}} {{creator.firstname}}" disabled>
						  </label>
						  <label class="item item-input item-stacked-label">
						    <span class="input-label">Approver</span>
						    <input type="text" class="word-wrap" value="{{approver.lastname}} {{approver.firstname}}" disabled>
						  </label>
						  <label class="item item-input item-stacked-label">
						    <span class="input-label">Created Date</span>
						    <input type="text" class="word-wrap" value="{{doc.createdDate}}" disabled>
						  </label>
						  <label class="item item-input item-stacked-label">
						    <span class="input-label">Last Modified Date</span>
						    <input type="text" class="word-wrap" value="{{doc.lastModifiedDate}}" disabled>
						  </label>
					  </div>
					  <label class="item item-input item-stacked-label" show-when="large">
					    <div class="row">
					    	<div class="col">
					    		<span class="input-label">Creator</span>
					    	</div>
					    	<div class="col">
					    		<span class="input-label">Approver</span>
					    	</div>
					    	<div class="col">
					    		<span class="input-label">Created Date</span>
					    	</div>
					    	<div class="col">
					    		<span class="input-label">Last Modified Date</span>
					    	</div>
					    
					    </div>

					    <div class="row">
					    	<div class="col">
					    		<input type="text" class="word-wrap" value="{{creator.lastname}} {{creator.firstname}}" disabled>
					    	</div>
					    	<div class="col">
					    		<input type="text" class="word-wrap" value="{{approver.lastname}} {{approver.firstname}}" disabled>
					    	</div>
					    	<div class="col">
					    		<input type="text" class="word-wrap" value="{{doc.createdDate}}" disabled>
					    	</div>
					    	<div class="col">
					    		<input type="text" class="word-wrap" value="{{doc.lastModifiedDate}}" disabled>
					    	</div>
					    </div>
					  </label>

					  

					</div>
					<div ng-if="doc.documentStatus === 'Draft' || doc.documentStatus === 'Reject'">
						<div class="row" show-when="large">
							<div class="col col-33">
								<a class="button button-full button-energized" href="#/app/doc/{{folder.id}}/{{doc.documentId}}/edit">
								  Edit
								</a>
							</div>
							<div class="col col-33">
								<button class="button button-full button-balanced" ng-click="submit(doc.documentId, doc.documentStatus)">
								  Submit
								</button>
							</div>
							<div class="col col-33">
								<button class="button button-full button-assertive" ng-click="delete(doc.documentId)">
								  Delete
								</button>
							</div>
						</div>
						<div class="row" show-when="small">
								<a class="button button-full button-energized col-33" href="#/app/doc/{{folder.id}}/{{doc.documentId}}/edit">
								  Edit
								</a>
								<button class="button button-full button-balanced" ng-click="submit(doc.documentId, doc.documentStatus)">
								  Submit
								</button>
								<button class="button button-full button-assertive" ng-click="delete(doc.documentId)">
								  Delete
								</button>
						</div>
					</div>
			</form>

					<div ng-if="doc.documentStatus === 'Waiting for Approval' || doc.documentStatus === 'Publish'" >
								<a class="button button-block button-dark" href="#/app/doc">
								  Back
								</a>
					</div>

					<div ng-if="doc.documentStatus === 'Approved'" >
								<a class="button button-block button-balanced" ng-click="publish(doc.documentId)">
								  Publish
								</a>
					</div>

					
					
					
					
				</div>
			</div>
		</div>
	</div>
	</ion-content>
</ion-view>
