<ion-view cache-view="false" view-title="Document Management">
	<ion-content>
	<div class="row">
		<div class="col col-80 center">
			<h1 class="main-header" style="margin-top: 4vh;">Folder List</h1>
			<hr class="main-hr">
			<div show-when="large" class="row padding-0">
				<div class="col col-20 padding-0">
					<a class="button button button-dark btn-new-task" href="#/app/adddoc">New Folder</a>
				</div>
				<div class="col col-30 col-offset-50">

					<label class="item item-input">
						<i class="icon ion-search placeholder-icon"></i>
						<input type="text" placeholder="Search">
					</label>
				
				</div>
			</div>

			<ui class="list">
			<div class="item item-divider item-divider-calm">
				<div class="row">
					<div show-when="large" class="col col-50 vertical-center-list-text">Folder Name</div>
					<div show-when="small" class="col col-85 vertical-center-list-text">Folder Name</div>
					<div show-when="large" class="col col-10 center-header vertical-center-list-text">Status</div>
					<div show-when="large" class="col col-20 center-header vertical-center-list-text">Last Update</div>
					<div show-when="large" class="col col-20 center-header vertical-center-list-text">No. of Documents</div>
				
				</div>
			</div>
				<li class="item" ng-repeat="document in documents">
					<div class="row">

					
					<div show-when="large">
						<div class="col col-50 vertical-center-list-text">{{folder.folderName}}</div>
						<!-- For Incompleted -->
						<div show-when="large" class="col col-10 center-header vertical-center-list-text reject-status" ng-if="document.documentStatus === 'Reject'">{{folder.folderStatus}}</div>
						<!-- For Completed -->
						<div class="col col-10 center-header vertical-center-list-text approved-status" ng-if="document.documentStatus === 'Approved'">{{folder.folderStatus}}</div>
						<!-- For Empty -->
						<div class="col col-10 center-header vertical-center-list-text publish-status" ng-if="document.documentStatus === 'Publish'">{{folder.folderStatus}}</div>
						<div class="col col-20 center-header vertical-center-list-text">{{folder.lastUpdate}}</div>
						<div class="col col-20 center-header vertical-center-list-text">{{folder.numberOfDocument}}</div>
					</div>

					<div show-when="small">
						<div show-when="small" class="col col-85 vertical-center-list-text">{{folder.folderName}}</div>
						<a class="button button-calm" href="#/app/doclist">More Detail</a>
					</div>
					
					
					
					
				</div>
				</li>
		</ui>
		</div>
	</div>
	</ion-content>
</ion-view>
