<ion-view cache-view="false" view-title="Document Management">
	<ion-content>
	<div class="row">
		<div class="col col-80 center">
			<h1 class="main-header" style="margin-top: 4vh;">Folder List</h1>
			<hr class="main-hr">
			<div show-when="large" class="row padding-0 header-action-button">

				<div class="col col-20 padding-0" ng-show="showBtn()">
					<a class="button button button-dark btn-new-task"  ng-click="newFolder()">New Folder</a>
					
				</div>
				<div class="col col-40 padding-0 btn-new-task" ng-show="showForm()">
					<form>
						<div class="row padding-0">
							<label class="item item-input ">
								<i class="icon ion-folder placeholder-icon"></i>
								<input type="text" placeholder="folder name?">
							</label>
							
							<button class="button button-dark" ng-click="addFolder()"> Add
							</button>
						</div>
						
					</form>
				</div>
				<div class="col col-30 search">

					<label class="item item-input">
						<i class="icon ion-search placeholder-icon"></i>
						<input type="text" placeholder="Search">
					</label>
				
				</div>
			</div>

			<ui class="list">
			<div class="item item-divider item-divider-calm">
				<div class="row">
					<div show-when="large" class="col col-50 vertical-center-list-text">Folder Name</div>
					<div show-when="small" class="col col-85 vertical-center-list-text">Folder Name</div>
					<div show-when="large" class="col col-10 center-header vertical-center-list-text">Status</div>
					<div show-when="large" class="col col-20 center-header vertical-center-list-text">Last Update</div>
					<div show-when="large" class="col col-20 center-header vertical-center-list-text">No. of Documents</div>
				
				</div>
			</div>
				<li class="item" ng-repeat="folder in folders">
					<div class="row">

					
					<div show-when="large">
						<div class="col col-50 vertical-center-list-text">{{folder.folderName}}</div>
						<!-- For Incompleted -->
						<div show-when="large" class="col col-10 center-header vertical-center-list-text reject-status" ng-if="document.documentStatus === 'Reject'">{{folder.folderStatus}}</div>
						<!-- For Completed -->
						<div class="col col-10 center-header vertical-center-list-text approved-status" ng-if="document.documentStatus === 'Approved'">{{folder.folderStatus}}</div>
						<!-- For Empty -->
						<div class="col col-10 center-header vertical-center-list-text publish-status" ng-if="document.documentStatus === 'Publish'">{{folder.folderStatus}}</div>
						<div class="col col-20 center-header vertical-center-list-text">{{folder.lastUpdate}}</div>
						<div class="col col-20 center-header vertical-center-list-text">{{folder.numberOfDocument}}</div>
					</div>

					<div show-when="small">
						<div show-when="small" class="col col-85 vertical-center-list-text">{{folder.folderName}}</div>
						<a class="button button-calm" href="#/app/doclist">More Detail</a>
					</div>
					
					
					
					
				</div>
				</li>
		</ui>
		</div>
	</div>
	</ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-modal-view>
</script>
