<ion-view cache-view="false" view-title="Login">
  <ion-content>
    <div class="row login">
      <div class="col col-50 center">
        <h1 class="main-header" style="margin-bottom: 2vh; text-align:center;">Document Management System</h1>
        <form ng-submit="doLogin()">
          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input type="text" placeholder="Email">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Password</span>
              <input type="password" placeholder="Password">
            </label>
            <label class="item">
              <button class="button button-block button-positive" type="submit">Login</button>
            </label>
          </div>
        </form>
        <div class="login-option-btn-wrapper">
          <button class="button button-clear" ng-click="goto('register')">Register</button>
          <button id="forgotpw" class="button button-clear" href="#/forgotpw">Forgot Password?</button>
        </div>
        <!-- <div>Temp: <button id="forgotpw" class="button button-clear" ng-click="goto('app.doclist')">Document List</button></div> -->
      </div>
    </div>
  </ion-content>
</ion-view>
