<ion-view cache-view="false" view-title="Login">
  <ion-content>
    <div class="row login">
      <div class="col col-50 center">
        <h1 class="main-header" style="margin-bottom: 2vh; text-align:center;">Document Management System</h1>
        <form ng-submit="login()">
          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input type="text" placeholder="Email" ng-model="$parent.email" name="email">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Password</span>
              <input type="password" placeholder="Password" ng-model="$parent.pw" name="password">
            </label>
            <label class="item">
               <input type="submit" id="submit" value="Login" class="button button-block button-positive" />
            </label>
          </div>
        </form>
        <div class="login-option-btn-wrapper">
          <button class="button button-clear" ng-click="goto('register')">Register</button>
          <button id="forgotpw" class="button button-clear" ng-click="goto('forgotpw')">Forgot Password?</button>
        </div>
        
        <div>Temp: <button id="forgotpw" class="button button-clear" ng-click="goto('app.doc')">Document List</button></div>
      </div>
    </div>
  </ion-content>
</ion-view>
