<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar bar-header bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable bar bar-header bar-calm">
      <h1 class="title">Navigator</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#" style="color:red;">
          Logout (underconstructed)
        </ion-item>
        <ion-item menu-close href="#/app/dashboard">
          Dashboard
        </ion-item>
        <ion-item menu-close href="#/app/file">
          Temp for File Upload Test T_T
        </ion-item>
        <ion-item menu-close href="#/app/doc">
          Document List For Officer
        </ion-item>
        <ion-item menu-close href="#/app/doclistforboss">
           Document List For Boss
        </ion-item>
        <ion-item menu-close href="#/app/publish">
           Publish Documents
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
