<ion-view cache-view="false" view-title="Add File">
	<ion-content>
	<div class="row">
		<div class="col col-80 center">
			<h1 class="main-header" style="margin-top: 4vh;">Add New File (Test)</h1>
			<a href="#/app/doclist" class="path-link">Document List</a><span> / Test add new file</span>
			<hr class="main-hr">
			<div class="row">
				<div class="col col-75 center">
					<div class="button" ngf-select="upload($file)">Upload on file select</div>
				</div>

				
			</div>
			
			<hr class="main-hr">
			<button ng-click="testget()">click for test GET</div>
			<hr class="main-hr">
			
		</div>
	</div>
	</ion-content>
</ion-view>
