<ion-view cache-view="false" view-title="Publish Documents">
	<ion-content>
		<div class="row padding-0">
			<div class="col col-20 publish-list-container padding-0">
				<ul class="list">
				    <li class="item">
				      Document 1
				    </li>
				    <li class="item">
				      Document 2
				    </li>
				</ul>
			</div>
			<div class="col col-80 publish-document-detail-container padding-0">
				<div class="col col-90 center">
					<h1 class="main-header" style="margin-top: 4vh;">Document Name</h1>
					<div class="detail-container">
						<div class="row">
							<div class="col col-20">
								Version
							</div>
							<div class="col col-80">
								blabla
							</div>
						</div>
						<div class="row">
							<div class="col col-20">
								Creator
							</div>
							<div class="col col-80">
								blabla
							</div>
						</div>
						<div class="row">
							<div class="col col-20">
								Approver
							</div>
							<div class="col col-80">
								blabla
							</div>
						</div>
						<div class="row">
							<div class="col col-20">
								Publish Date
							</div>
							<div class="col col-80">
								blabla
							</div>
						</div>
					<hr class="seperator">
					<div class="row">
						<div class="col col-80">
							<div class="row">
							Attachment(s) 
							</div>
							<div class="row">
								[download button] filename 1 
							</div>
							<div class="row">
								[download button] filename 2
							</div>
						</div>
						<div class="col col-20">
							[download all attachment button]
						</div>
					</div>
						
					<hr class="seperator">
						<div class="row">
							Description
						</div>
						<div class="row">
							bla bla bla bla
						</div>
					</div>
				</div>
			</div>
		</div>
		

	<ion-content>
</ion-view>