.login{
	padding-top: 23vh;
}

.login-option-btn-wrapper{
	position: relative;
}
.login-option-btn-wrapper #forgotpw{
	position: absolute;
	right: 0;
}

.center{
	margin-left: auto;
    margin-right: auto;
}

.center-header{
	text-align: center;
}

.header-action-button{
	position: relative;
}

.header-action-button .search{
	position: absolute;
	right: 0;
	max-width: 30%;
}

.word-wrap{
	white-space: initial;
}

.last{
	background: #FDFFCE;
}

.vertical-center-list-text{
	margin-top: 15px;
}

.button-circle{
	border-radius: 50%;
    padding: 0 10px;
    min-width: 48px;
}

.item-divider-calm{
	border-color: #0a9dc7;
    background-color: #11c1f3;
    color: #fff;
}

.doclist-link{
	text-decoration: none;
}

.path-link{
	text-decoration: none;
}

.draft-status{
	color: #ffc900;
}

.waiting-for-approval-status{
	color: #0a9dc7;
}

.reject-status{
	color: #ef473a;
}

.approved-status{
	color: #33cd5f;
}

.publish-status{
	color: #444;
}

.all-content{
    margin-top: 10vh;
}

.main-header{
    color: #444;
    margin-top: 10vh;
}

.main-hr{
	margin-top: 4vh;
	margin-bottom: 4vh;
	color: #eee;
	background: #eee;
	border-width: 0px;
	height: 3px;
}

.padding-0{
	padding: 0;
}

.btn-new-task{
	margin-bottom: 4vh;
	width: 100%;
}

.download-file{
	margin-top: 20px;
	
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	position: absolute;
	z-index: 1;
}
.inputfile + label {
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label {
	cursor: pointer;
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.publish-list-container{
	height: 100vh;
	border-right: 1px solid #F2F2F2;
}
.publish-document-detail-container{
	height: 100vh;
}
.publish-document-detail-container .detail-container{
	border: 1px solid #F2F2F2;
	height: 82vh;
	overflow: scroll;
	color: #555;
}
.publish-document-detail-container .detail-container .seperator{
	border: 1px solid #F2F2F2;
}
.publish-document-detail-container .no-service{
	margin-top: 40vh;
	text-align: center;
}
.publish-document-detail-container .no-document,
.publish-document-detail-container .no-select{
	margin-top: 45vh;
	text-align: center;
}
.publish-document-detail-container .no-service h1, 
.publish-document-detail-container .no-document h1,
.publish-document-detail-container .no-select h1{
	color:#999;
}
.publish-document-detail-container .no-service h4,
.publish-document-detail-container .no-select h4,
.publish-document-detail-container .no-document h3
{
	color:#999;
}

.list-no-document{
	margin-top: 40vh;
	text-align: center;
}
.list-no-document h1,
.list-no-document h3{
	color: #999;
}

.save-notification{
	margin: 0;
	margin-bottom: 2vh;
	border: 1px solid #e6b500;
	padding: 20px;
    color: #e6b500;
    font-size: 1.2em;
}
.all-page-container{
	position: inherit;
}
.overlay{
	z-index: 10;
	background: rgba(0,0,0,0.5);
	min-height: 100vh;
	height: 100%;
	width: 100%;
	position: absolute;
}
.overlay .edit-profile-wrapper{
	margin-top: 10vh;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding-top: 3vh;
	padding-bottom: 3vh;
}
.overlay .edit-profile-wrapper form{
	width: 95%;
	margin: auto;
}
.overlay .edit-profile-wrapper .header{
	position: relative;
	text-align: center;
}
.overlay .edit-profile-wrapper .header h1{
	color: #444;
}
.overlay .edit-profile-wrapper .header .close-button{
	position: absolute;
	top: 0;
	right: 10px;
}
.overlay .edit-profile-wrapper .password-form{
	margin-top: 20px;
}
.overlay .version-button-wrapper {
	margin-top: 25vh;
	background: #fff;
	min-height: 20vh;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
.overlay .version-button-wrapper .button-wrapper{
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
	margin-top: 5vh;
	text-align: center;
}
.overlay .version-button-wrapper .button-wrapper{
	position: relative;
}
.overlay .version-button-wrapper .button-wrapper .header h3{
	color: #666;
	margin-bottom: 3vh;
}
.overlay .version-button-wrapper .button-wrapper .header .close-button{
	position: absolute;
	right: 10px;
	top: 10px;
}
.overlay .file-detail-wrapper{
	width: 60%;
	background: white;
	margin: auto;
	margin-top: 4vh;
	margin-bottom: 4vh;
	padding-top: 4vh;
	padding-bottom: 4vh;
	max-height: 80vh;
	overflow: scroll;

}
.overlay .file-detail-wrapper .file-detail-content{
	width: 90%;
	text-align: center;
	margin: auto;
}
.overlay .file-detail-wrapper .file-detail-content .header{
	position: relative;
	margin-bottom: 20px;
}
.overlay .file-detail-wrapper .file-detail-content .header .close-button{
	position: absolute;
	top: -10px;
	right: -10px;
}
.overlay .file-detail-wrapper .file-detail-content h3{
	color: #444;
}
.overlay .file-detail-wrapper .file-detail-content .file-list{
	text-align: left;
}
.overlay .file-detail-wrapper .file-detail-content .file-list ul li .delete-btn{
	margin-right: 5px;
}
.overlay .file-detail-wrapper .file-detail-content .file-list ul li .filename{
	padding-top: 15px;
	white-space: initial;
}
.not-found{
	margin-top: 35vh;
	text-align: center;
}
.not-found h1{
	font-size: 4em;
	color: #444;
}
.not-found h3{
	font-size: 2em;
	color: #444;
}
.dashbaord-header{
	margin-top: 5vh;
	position: relative;
}
.dashbaord-header button{
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
}
.dashbaord-header h1{
	color: #444;
}
.dashbaord-header h4{
	color: #444;
	font-style: italic;
}
.dashboard-wrapper{
	margin-bottom: 4vh;
}
.dashboard-graph-wrapper{
	margin-right: 50px;
}
.dashboard-graph{
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
.dashboard-list{
	width: 100%;
	padding-top: 25px;
}

.correct-input{
	color: #33cd5f;
	padding-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}