<ion-view cache-view="false" view-title="Publish Documents">
	<ion-content>
	<div class="overlay" ng-show="showUploadedFileList()">
		<div class="file-detail-wrapper">
			<div class="file-detail-content">
				<div class="header"><h3>{{numberOfFiles}} Uploaded File</h3>
					<button class="button button-stable button-clear icon ion-close close-button" ng-click="closeUploadedFiles()"></div>
				<div class="file-list">
					<ul class="list">
					    <li class="item" ng-repeat="file in files">
					      <div class="row padding-0">
					      <div class="delete-btn"><button ng-click="download(file.id)" target="_self" class="button button-calm icon ion-ios-cloud-download-outline button-circle"></button></div>
					      <div class="filename">{{file.filename}}<div>
					      </div>
					    </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
		
		<div class="row padding-0">
			<div class="col col-20 publish-list-container padding-0">
				<ul class="list" ng-show="showList()">
				    <li class="item" ng-repeat="publishDocument in publishDocumentList" ng-click="detail('{{publishDocument.documentId}}', '{{publishDocument.publishDate}}')">
				      {{publishDocument.documentName}}
				    </li>
				</ul>
				<div class="no-padding word-wrap list-no-document" ng-show="noService()">
					<h3>No Service</h3>
				</div>
				<div class="no-padding word-wrap list-no-document" ng-show="noDocument()">
					<h1>0</h1> 
					<h3>published document</h3>
				</div>
			</div>
			
			<div class="col col-80 publish-document-detail-container padding-0">
				<div class="no-document" ng-show="notFound()">
					<h1>404 Document not Found</h1>
				</div>
				<div class="no-select" ng-show="noSelect()">
					<h4>Please select publish document on the list to see detail</h4>
				</div>
				<div class="no-service" ng-show="noService()">
					<h1>We're sorry!</h1>
					<h4>The services are not available, Please try again later.</h4>
				</div>
				<div class="no-document" ng-show="noDocument()">
					<h3>There are no published document.</h3>
				</div>

				<div class="col col-90 center" ng-show="detailShow()">
					<h1 class="main-header" style="margin-top: 4vh;">{{doc.documentName}}</h1>
					<div class="detail-container">
						<div class="row">
							<div class="col col-20">
								Version
							</div>
							<div class="col col-80">
								{{doc.version}}
							</div>
						</div>
						<div class="row">
							<div class="col col-20">
								Creator
							</div>
							<div class="col col-80">
								{{doc.creator}}
							</div>
						</div>
						<div class="row">
							<div class="col col-20">
								Approver
							</div>
							<div class="col col-80">
								{{doc.approver}}
							</div>
						</div>
						<div class="row">
							<div class="col col-20">
								Publish Date
							</div>
							<div class="col col-80">
								{{doc.publishDate}}
							</div>
						</div>
					<hr class="seperator">
					<div class="row">
						<div class="col col-80">
							<div class="row">
							Attachment(s) 
							</div>
							<div ng-show="showNone()">
						    	None
						    </div>
						    <div ng-show="haveFiles()">
							    <button class="button button-clear button-calm" ng-click="showUploadedFiles()">{{numberOfFiles}} Uploaded File (Click to see detail)</button>
							</div>
							<div class="row" ng-show="noFile()">
								- File Service is not available now - 
							</div>
						</div>
						<div class="col col-20">
							<button ng-click="download()" target="_self" href="http://localhost:8084/downloaddocumentId={{doc.documentId}}" class="button button-balanced" ng-show="hasFile()">Download All File
							</button>
						</div>
					</div>
						
					<hr class="seperator">
						<div class="row">
							Description
						</div>
						<div class="row">
							{{doc.description}}
						</div>
					</div>
				</div>
			</div>
		</div>
		

	<ion-content>
</ion-view>